<?xml version="1.0" encoding="utf-8" standalone="no"?>
<mapper namespace="xyz.xiezc.mzi.dao.CommentMapper">
    <resultMap id="XZCBaseResultMap" type="xyz.xiezc.mzi.entity.Comment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="to_index" property="toIndex"/>
        <result column="content" property="content"/>
        <result column="agree_num" property="agreeNum"/>
        <result column="create_time" property="createTime"/>
        <result column="photo_id" property="photoId"/>
        <result column="index" property="index"/>
    </resultMap>
    <sql id="XZCExample_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">and ${criterion.condition}</when>
                                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                                <when test="riterion.betweenValue">and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">#{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_XZCExample_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">and ${criterion.condition}</when>
                                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                                <when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">#{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="XZCBase_Column_List">id,user_id,to_index,content,agree_num,create_time,photo_id,index</sql>
    <select id="selectByExample" parameterType="xyz.xiezc.mzi.common.Example" resultMap="XZCBaseResultMap">select
        <if test="distinct">distinct</if>
        <include refid="XZCBase_Column_List"/>
        from t_comment
        <if test="_parameter != null">
            <include refid="XZCExample_Where_Clause"/>
        </if>
        <if test="orderByClause != null">order by ${orderByClause}</if>
        <if test="limit != null">
            <if test="offset != null">limit ${offset}, ${limit}</if>
            <if test="offset == null">limit ${limit}</if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="XZCBaseResultMap">select
        <include refid="XZCBase_Column_List"/>
        from t_comment whereid = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from t_commentwhere id= #{id}</delete>
    <delete id="deleteByExample" parameterType="xyz.xiezc.mzi.common.Example">delete from t_comment
        <if test="_parameter != null">
            <include refid="XZCExample_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="xyz.xiezc.mzi.entity.Comment"
            useGeneratedKeys="true">insert into t_comment (user_id,to_index,content,agree_num,create_time,photo_id,index
        ) values (#{userId},#{toIndex},#{content},#{agreeNum},#{createTime},#{photoId},#{index} )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xyz.xiezc.mzi.entity.Comment"
            useGeneratedKeys="true">insert into t_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id</if>
            <if test="toIndex != null">to_index</if>
            <if test="content != null">content</if>
            <if test="agreeNum != null">agree_num</if>
            <if test="createTime != null">create_time</if>
            <if test="photoId != null">photo_id</if>
            <if test="index != null">index</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="toIndex != null">#{toIndex},</if>
            <if test="content != null">#{content},</if>
            <if test="agreeNum != null">#{agreeNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="photoId != null">#{photoId},</if>
            <if test="index != null">#{index},</if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="xyz.xiezc.mzi.common.Example" resultType="java.lang.Long">select count(*)
        from t_comment
        <if test="_parameter != null">
            <include refid="XZCExample_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">update t_comment
        <set>
            <if test="record.id != null">id= #{record.id},</if>
            <if test="record.userId != null">user_id= #{record.userId},</if>
            <if test="record.toIndex != null">to_index= #{record.toIndex},</if>
            <if test="record.content != null">content= #{record.content},</if>
            <if test="record.agreeNum != null">agree_num= #{record.agreeNum},</if>
            <if test="record.createTime != null">create_time= #{record.createTime},</if>
            <if test="record.photoId != null">photo_id= #{record.photoId},</if>
            <if test="record.index != null">index= #{record.index},</if>
            <if test="_parameter  != null">
                <include refid="Update_By_XZCExample_Where_Clause"/>
            </if>
        </set>
    </update>
    <update id="updateByExample" parameterType="map">update t_comment
        <if test="_parameter != null">
            <include refid="Update_By_XZCExample_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="xyz.xiezc.mzi.entity.Comment">update t_comment
        <set>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="toIndex != null">to_index = #{toIndex},</if>
            <if test="content != null">content = #{content},</if>
            <if test="agreeNum != null">agree_num = #{agreeNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="photoId != null">photo_id = #{photoId},</if>
            <if test="index != null">index = #{index},</if>
        </set>
        where id= #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="xyz.xiezc.mzi.entity.Comment">update t_comment set
        user_id=#{userId},to_index=#{toIndex},content=#{content},agree_num=#{agreeNum},create_time=#{createTime},photo_id=#{photoId},index=#{index},
        where id = #{id}
    </update>
</mapper>
