<?xml version="1.0" encoding="utf-8" standalone="no"?>
<mapper namespace="xyz.xiezc.mzi.dao.PhotoMapper">
<resultMap id="XZCBaseResultMap" type="xyz.xiezc.mzi.entity.Photo">
<id column="id" property="id"/>
<result column="size" property="size"/>
<result column="see" property="see"/>
<result column="album_id" property="albumId"/>
<result column="show_time" property="showTime"/>
<result column="create_time" property="createTime"/>
<result column="fetch_url" property="fetchUrl"/>
<result column="path" property="path"/>
</resultMap>
<sql id="XZCExample_Where_Clause">
<where>
<foreach collection="oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">and ${criterion.condition}</when>
<when test="criterion.singleValue">  and ${criterion.condition} #{criterion.value}</when>
<when test="riterion.betweenValue">    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
<when test="criterion.listValue">    and ${criterion.condition}<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">   #{listItem}</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</sql>
<sql id="Update_By_XZCExample_Where_Clause">
<where>
<foreach collection="example.oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">and ${criterion.condition}</when>
<when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
<when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
<when test="criterion.listValue">and ${criterion.condition}<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=","> #{listItem}</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</sql>
<sql id="XZCBase_Column_List">id,size,see,album_id,show_time,create_time,fetch_url,path</sql>
<select id="selectByExample" parameterType="xyz.xiezc.mzi.common.Example" resultMap="XZCBaseResultMap">select<if test="distinct">distinct</if>
<include refid="XZCBase_Column_List"/> from t_photo<if test="_parameter != null">
<include refid="XZCExample_Where_Clause"/>
</if>
<if test="orderByClause != null"> order by ${orderByClause}</if>
<if test="limit != null">
<if test="offset != null">  limit ${offset}, ${limit}</if>
<if test="offset == null">  limit ${limit}</if>
</if>
</select>
<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="XZCBaseResultMap">select<include refid="XZCBase_Column_List"/> from t_photo   whereid = #{id}</select>
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from t_photowhere id= #{id}</delete>
<delete id="deleteByExample" parameterType="xyz.xiezc.mzi.common.Example">  delete from t_photo<if test="_parameter != null">
<include refid="XZCExample_Where_Clause"/>
</if>
</delete>
<insert id="insert" keyColumn="id" keyProperty="id" parameterType="xyz.xiezc.mzi.entity.Photo" useGeneratedKeys="true">  insert into t_photo (size,see,album_id,show_time,create_time,fetch_url,path )   values (#{size},#{see},#{albumId},#{showTime},#{createTime},#{fetchUrl},#{path} )</insert>
<insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="xyz.xiezc.mzi.entity.Photo" useGeneratedKeys="true"> insert into t_photo<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="size != null">size</if>
<if test="see != null">see</if>
<if test="albumId != null">album_id</if>
<if test="showTime != null">show_time</if>
<if test="createTime != null">create_time</if>
<if test="fetchUrl != null">fetch_url</if>
<if test="path != null">path</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="size != null">   #{size},</if>
<if test="see != null">   #{see},</if>
<if test="albumId != null">   #{albumId},</if>
<if test="showTime != null">   #{showTime},</if>
<if test="createTime != null">   #{createTime},</if>
<if test="fetchUrl != null">   #{fetchUrl},</if>
<if test="path != null">   #{path},</if>
</trim>
</insert>
<select id="countByExample" parameterType="xyz.xiezc.mzi.common.Example" resultType="java.lang.Long"> select count(*) from t_photo<if test="_parameter != null">
<include refid="XZCExample_Where_Clause"/>
</if>
</select>
<update id="updateByExampleSelective" parameterType="map">update t_photo<set>
<if test="record.id != null">id= #{record.id},</if>
<if test="record.size != null">size= #{record.size},</if>
<if test="record.see != null">see= #{record.see},</if>
<if test="record.albumId != null">album_id= #{record.albumId},</if>
<if test="record.showTime != null">show_time= #{record.showTime},</if>
<if test="record.createTime != null">create_time= #{record.createTime},</if>
<if test="record.fetchUrl != null">fetch_url= #{record.fetchUrl},</if>
<if test="record.path != null">path= #{record.path},</if>
<if test="_parameter  != null">
<include refid="Update_By_XZCExample_Where_Clause"/>
</if>
</set>
</update>
<update id="updateByExample" parameterType="map"> update t_photo<if test="_parameter != null">
<include refid="Update_By_XZCExample_Where_Clause"/>
</if>
</update>
<update id="updateByPrimaryKeySelective" parameterType="xyz.xiezc.mzi.entity.Photo"> update t_photo<set>
<if test="size != null">size = #{size},</if>
<if test="see != null">see = #{see},</if>
<if test="albumId != null">album_id = #{albumId},</if>
<if test="showTime != null">show_time = #{showTime},</if>
<if test="createTime != null">create_time = #{createTime},</if>
<if test="fetchUrl != null">fetch_url = #{fetchUrl},</if>
<if test="path != null">path = #{path},</if>
</set>where id= #{id}</update>
<update id="updateByPrimaryKey" parameterType="xyz.xiezc.mzi.entity.Photo"> update t_photo set size=#{size},see=#{see},album_id=#{albumId},show_time=#{showTime},create_time=#{createTime},fetch_url=#{fetchUrl},path=#{path}, where id = #{id}</update>
</mapper>
