<?xml version="1.0" encoding="UTF-8"?>
<!-- Logback Configuration.  -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <contextName>mzi</contextName>

    <property name="log.path" value="log"/>
    <property name="maxHistory" value="30"/>
    <property name="maxFileSize" value="20MB"/>
    <property name="totalSizeCap" value="20GB"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><!--默认就是PatternLayoutEncoder类-->
            <pattern>[%-5level] [%d{MM-dd HH:mm:ss.SSS}] [%thread] %logger{15}.%method{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/all.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/bak/all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder><!--默认就是PatternLayoutEncoder类-->
            <pattern>[%-5level] [%d{MM-dd HH:mm:ss.SSS}] [%thread] %logger{15}.%method{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/error.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/bak/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder><!--默认就是PatternLayoutEncoder类-->
            <pattern>[%-5level] [%d{MM-dd HH:mm:ss.SSS}] [%thread] %logger{15}.%method{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="Debug"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL"/>
        <!--<appender-ref ref="INFO"/>-->
        <!--<appender-ref ref="WARN"/>-->
        <appender-ref ref="ERROR"/>
    </root>

</configuration>
